.outer {
  background-color: aquamarine;
  background: radial-gradient(circle at 100%, #4DC2CC, #4DC2CC 20%, #2998A3 75%);

  .box {
    height: 100vh;
    z-index: 100;
  }

  z-index: -1;
}
h1{
height: 75px;
}
.container {
  border: 100px solid #232730;
  height: 100vh;
  width: 100vw;
  // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100);
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  z-index: 1;

  .form {

    position: relative;
    // height: ;
    height: 100%;
    width: 50vw;
    padding: 100px;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(#FEFDF8, #fefdf88e 70%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    // border-radius: 25px;
    // border: 1px solid rgba(0, 0, 0, 0.274);

    justify-content: center;
    align-items: center;
    z-index: 10000;

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 25px;
      justify-content: center;

      p-inputgroup-addon {
        background: transparent;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.329);
      }

      .p-inputtext {
        background-color: transparent;
        border: none;
        border-bottom-right-radius: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.329);
        color: black;
        height: 58.750px;
        text-indent: 8px;
      }
      ::ng-deep .p-message-content{
        background-color: #fa7380;
        color: whitesmoke;
      }

      padding: 10px;
    }

    button.btn {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #2327303d;
      border-radius: 10px;
      cursor: pointer;
    }

    button.btn:nth-of-type(1) {
      background-color: #2DA9B5;
      border: none;
      color: white;
      font-weight: bolder;
      letter-spacing: 1.2px;
      transition: .7s ease;
    }

    button.btn:nth-of-type(1):hover {
      background-color: #207e86;
    }

    button.btn:nth-of-type(2) {
      border: none;
      background-color: #f1f1f1;
      color: rgba(0, 0, 0, 0.637);
      font-weight: bolder;
      letter-spacing: 1.2px;
      transition: .7s ease;
    }

    button.btn:nth-of-type(2):hover {
      background-color: #dadada;
    }

    ::ng-deep p-password input {
      background-color: transparent !important;
      padding: 20px;
      width: 100%;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.329);
      color: black;
    }

    ::ng-deep .p-password {
      padding: 0;
      width: 100%;
      border: none;
      color: black;
    }


    .or {
      display: flex;
      gap: 2px;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      p {
        color: rgba(0, 0, 0, 0.329);
      }

      span {
        height: 2px;
        background-color: rgba(0, 0, 0, 0.329);
        width: 450px;
      }
    }

    h1 {
      font-size: 4rem;
      font-weight: bold;
      color: black;
    }
  }
}

.bigBall {
  width: 200%;
  height: 1700px;
  // background-color: #232730;
  background: radial-gradient(#b8c6c64f 0%, #30b2d362 60%, #b8c6c6 100%);
  border-radius: 100%;
  position: absolute;
  top: 65%;
  left: -50%;
  z-index: 0;
}

.bubble {
  position: absolute;
  width: 175px;
  height: 175px;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#ffffff60 0%, #30b2d362 60%, #b8c6c6d5 100%);
  background-position: 0px 5px;
  border-radius: 100%;
  padding: 10px;
  transform: translateX(250px) translateY(-250px) rotate(-40deg);

  svg {
    font-size: 5rem;
  }
}

.bubble:nth-child(1) {
  transform: translateX(210px) translateY(50px) rotate(10deg) scale(.75);
}

.bubble:nth-child(3) {
  transform: translateX(550px) translateY(-50px) rotate(40deg) scale(.55);
  z-index: 0;
}

.beat {
  z-index: 0;
  position: absolute;
  top: 20%;
  width: 100vw;
  height: 100vh;

  svg {
    width: 100vw;
    height: 120vh;
    transform: translateY(-30%) translateX(50%);
    display: block;

    path {
      fill: none;
      stroke: white;
      stroke-width: 2;
      stroke-linejoin: round;
      stroke-linecap: round;
      stroke-dasharray: 1;
      stroke-dashoffset: 1;

    }
  }
}

// .tmp{
//   width: 40vw;
//   height: 40vh;
//   position: absolute;
//   background-color: transparent;
//   z-index: 1000;
//   top: 0;

// }
@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.form {
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#00e6e6, #00e6e6), linear-gradient(#14c19c, #14c19c), linear-gradient(#8fff5c, #8fff5c), linear-gradient(#14c19c, #14c19c);
		animation: rotate 10s linear infinite;
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: #daf7f3;
		border-radius: 5px;
	}
}
