<div class="container">
  @if(!reparto){
    <h1>ERRORE</h1>
    <button class="addPz" (click)="refresh()" >Ricarica la pagina</button>
  }
  @else{
    <h1 class="title {{reparto?.toLowerCase()}}">{{ reparto }}</h1>
    <div class="bottom">
        @if(reparto=="Pronto Soccorso"){
        <div class="cnt">
            <div class="actions">
              <button class="addPz" [routerLink]="['/accetta-pz']" >Aggiungi Paziente</button>
            </div>

            <div class="summary">
                @for(codice of ['BIANCO','VERDE','AZZURRO','ARANCIONE','ROSSO']; track $index){
                    <div class="{{codice.toLowerCase()}}_container">
                        <div class="symbol"></div>
                        <h2>{{getCountPazienti(codice)}}</h2>
                    </div>
                }
            </div>

            <div class="listaPZ">
                @for (pz of pazientiProntoSoccorso; track $index){
                    <app-paziente [pz]=pz></app-paziente>
                } @empty {
                <h3>NON CI SONO PAZIENTI</h3>
                }
            </div>
        </div>
        }
        @else {
        <div class="statistiche">
            <h1>Statistiche</h1>
            <div class="content">
                <div class="{{reparto.toLowerCase()}}-nPazienti">
                    <h2><b>{{patient.length}}</b></h2>
                    <h3>Pazienti</h3>
                </div>
                <div class="{{reparto.toLowerCase()}}-nletti">
                    <h2><b>{{25-patient.length}}</b></h2>
                    <h3>Letti disponibili</h3>
                </div>
                <div class="{{reparto.toLowerCase()}}-nRicoveri">
                    <h2><b>{{patient.length}}</b></h2>
                    <h3>Ricoveri oggi</h3>
                </div>
            </div>
        </div>
        <div class="esami">
            <h1>Prossimi Esami</h1>
            <div class="examList">
                @for(exam of [{name:"Ecocardiogramma", date:'23/05/2025 - 19:30'}, {name:"Test da sforzo",
                date:'23/05/2025 - 20:30'}]; track $index){
                <span class="exam">
                    <p><b>{{exam.name}}</b> {{exam.date}}</p>
                </span>
                }
            </div>
        </div>
        <div class="ricoveri">
            <h1>Ricoveri</h1>
            <p-table [value]="patient" [tableStyle]="{ 'max-width': '25rem' }">
                <ng-template #header>
                    <tr>
                        <th>Codice</th>
                        <th>Nome</th>
                    </tr>
                </ng-template>
                <ng-template #body let-patiente>
                    <tr>
                        <td>{{ patiente.codice }}</td>
                        <td>{{ patiente.nome }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="mediciTurno">
            <h1>Medici di Turno</h1>
            <p-table [value]="mediciTurno" [tableStyle]="{ 'max-width': '25rem' }">
                <ng-template #header>
                    <tr>
                        <th>Codice</th>
                        <th>Nome</th>
                    </tr>
                </ng-template>
                <ng-template #body let-Medico>
                    <tr>
                        <td>{{ Medico.sesso=="M" ? "Dott. "+ Medico.cognome : "Dott.ssa "+ Medico.cognome}}</td>
                        <td>{{ Medico.specializzazione }}</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
        }

    </div>
  }
</div>
